.button {
  border: none;  /*занулило черную границу*/
  padding: 0.375rem 1.75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-family: Roboto;
  font-style: italic; /*начертание шрифта italic.normal.oblique*/
  font-weight: 700;
  line-height: 1.5rem;  /*определяет высоту строки (межстрочный интервал)
                        внутри элемента*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;  /*определяет расстояние между элементами в
                          гибком контейнере*/

   &:focus-visible {  /*использование кнопки Tab*/
     outline: 2px solid var(--color-info-700);
   }
}


.primary {
  background: var(--color-accent-500);
 /* box-shadow: 0px 4px 18px 0px *//*позволяет добавить тень вокруг элемента.*/
  &:hover { /*наведение курсора на кнопку*/
    background: var(--color-accent-300);
    box-shadow: 0px 4px 18px 0px rgba(140, 97, 255, 0.35);
  }
  &:active {  /*клик по кнопке*/
    background: var(--color-accent-700);
    box-shadow: 0px 4px 18px 0px rgba(140, 97, 255, 0.35);
  }
  &:disabled  {
    background: var(--color-accent-900);
    color: var(--color-light-900) ;
    box-shadow: 0px 4px 18px 0px rgba(140, 97, 255, 0.35);
  }
}

.secondary {
  background: var(--color-dark-300);
  &:hover {
    background: var(--color-dark-100);
    box-shadow: 0px 2px 10px 0px rgba(109, 109, 109, 0.25);
  }
  &:active {
    background: var(--color-dark-500);
    box-shadow: 0px 2px 10px 0px rgba(109, 109, 109, 0.25);
  }
  &:disabled  {
    color: var(--color-light-900) ;
    background: var(--color-dark-300);
    box-shadow: 0px 2px 10px 0px rgba(109, 109, 109, 0.25);
  }
}

.tertiary {
  background-color: transparent; /*Значение transparent устанавливает прозрачный цвет фона*/
  color:var(--color-accent-500);
  border: 1px solid var(--color-accent-500);
  &:hover {
    background: var(--color-dark-300);
    border: 1px solid var(--color-accent-700);

  }
  &:active {
    background: var(--color-accent-900);
    border: 1px solid var(--color-accent-700)
  }
  &:disabled  {
    color: var(--color-accent-900) ;
    background: transparent;
    border: 1px solid var(--color-accent-900);
  }
}

.link {
  color:var(--color-accent-500);
  background-color: transparent;
  border-radius: 99px;
  &:hover {
    color:var(--color-accent-300);
  }
  &:active {
    color:var(--color-accent-700);
  }
  &:disabled  {
    color: var(--color-accent-900) ;
  }
}

.fullWidth {
  width: 100%;
}