.common{
  width: 420px;
  height: 528px;
  background: var(--color-dark-700);
}




/*


import { ComponentProps, ComponentPropsWithoutRef, forwardRef } from 'react'





export type TextFieldProps = {
    onValueChange?: (value: string) => void
    containerProps?: ComponentProps<'div'>



} & ComponentPropsWithoutRef<'input'>

export const Input = forwardRef<HTMLInputElement, TextFieldProps>(
    (
        {




            containerProps,


            onChange,
            onValueChange,
            ...restProps
        },
        ref
    ) => {




        const handleChange = (e: React.ChangeEvent<HTMLInputElement>) => {
            onChange?.(e)
            onValueChange?.(e.target.value)
        }



        return (
            <div >

                <div >
                    <input


                        ref={ref}

                        onChange={handleChange}
                        {...restProps}
                    />

                </div>


            </div>
        )
    }
)*/