

/* reset */
button {
  all: unset;
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: #0c2ea7;
  border-radius: 9999px;
  position: relative;
}
.SwitchRoot:focus {
  box-shadow: 0 0 0 2px #dcdc49;
}
.SwitchRoot[data-state='checked'] {
  background-color: #a70c0c;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: #eec1c1;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}

.text {
  color: #7fdba4;
  font-size: 15px;
  line-height: 1;
}