.common {
  width: 100%;
  box-shadow: var(--color-dark-700) 7px 20px 20px;
  background-color: var(--color-dark-900);
  display: flex;
  justify-content: center;
}

.block {
  padding: 12px 137px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameAndIcon{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.name{
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 2px solid var(--color-dark-300);
}

.icon{

  height: 100%;
}