.common{
  display: flex;
  align-items: center;
 /* overflow-y: auto;  прокручиваемая  область*/
/*  overflow: hidden;
  text-overflow: ellipsis;*/
  /*width: 660px;*/
}

.activeNumber{
  width: 27px;
  height: 27px;
  margin: 2px;
  border-radius: 2px;
  background: var(--color-light-100);
  color: var(--color-dark-700);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.number{
  width: 27px;
  height: 27px;
  margin: 2px;
  border-radius: 2px;
  background: transparent;
  color: var(--color-light-100);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  &:hover{
    background: var(--color-dark-700)
  }
}

.arrow{
  width: 27px;
  height: 27px;
  &:hover{
    background: var(--color-dark-700)
  }
}

.blockSeleckWithWords{
  display: flex;
  align-items: center;
  padding-left: 30px;
}